table {
    font-family: arial, sans-serif;
    width: 100%;
    align-items: center;
    padding: 1px;
    background-color:#F0F0F0 ;
}
  td, th {    
    text-align: center;
    padding: 8px;
  }
  